<div class="modal-header">
  <button type="button" ng-click="add.cancel()" class="close dismissModal1">&times;</button>
  <h4 class="modal-title">Add Movie / TV Series </h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="registerForm" ng-submit="" autocomplete="off">
    <div class="form-group"
         ng-class="{'has-error has-feedback' : (registerForm.title.$error.required || registerForm.title.$error.pattern) && !registerForm.title.$pristine }">
      <label for="title" class="control-label col-md-3">Title</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title"
               ng-model="add.movieItem.Title" required ng-pattern="/^[a-zA-Z0-9\-\ ]*$/">
        <span
          ng-show="(registerForm.title.$error.required || registerForm.title.$error.pattern) && !registerForm.title.$pristine"
          class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span ng-show="registerForm.title.$error.required && !registerForm.title.$pristine" class="help-block">Title is required.</span>
        <span ng-show="registerForm.title.$error.pattern && !registerForm.title.$pristine" class="help-block">Title must only contain alphanumerics and hyphens</span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error has-feedback' : (registerForm.lastname.$error.required || registerForm.lastname.$error.pattern) && !registerForm.lastname.$pristine}">
      <label for="year" class="control-label col-md-3">Release Date</label>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" id="year" name="year" class="form-control" uib-datepicker-popup="dd MMM yyyy"
                 is-open="popDatepicker" ng-focus="popDatepicker = !popDatePicker" ng-model="add.movieItem.Released"
                 datepicker-options="add.dateOptions" ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popDatepicker = !popDatePicker"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error has-feedback' : registerForm.emailid.$invalid && !registerForm.emailid.$pristine }">
      <label for="emailid" class="control-label">Email address</label>
      <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email"
             ng-model="register.userinfo.username" required>
      <span ng-show="registerForm.emailid.$invalid && registerForm.emailid.$dirty"
            class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span
        ng-show="(registerForm.emailid.$invalid || registerForm.emailid.$error.required) && !registerForm.emailid.$pristine"
        class="help-block">Enter valid email</span>
    </div>
    <div class="form-group" ng-class="">
      <label for="password" class="control-label">Password</label>
      <input class="form-control" type="password" name="password" id="password" ng-model="register.userinfo.password"
             placeholder="Password" required>
      <span ng-show="" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span ng-show="" class="help-block">Invalid password</span>
    </div>
    <div class="row modalBtns">
      <div class="col-sm-2">
        <div class="form-group">
          <button ng-click="register.sendRegister()" ng-disabled="registerForm.$invalid"
                  class="btn btn-info btn-sm margin-top2" type="submit">Register
          </button>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <button type="button" ng-click="register.cancel()" class="btn btn-default btn-sm margin-top2 dismissModal1">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
