<div class="modal-header">
  <button type="button" ng-click="login.cancel()" class="close dismissModal1">&times;</button>
  <h4 class="modal-title">Login </h4>
</div>
<div class="modal-body">
  <p ng-show="login.pleaseLogin" class="loginError">Login to view more details and complete list</p>
  <form class="form-inline" name="loginForm" ng-submit="" autocomplete="off">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group"
             ng-class="{ 'has-error has-feedback' : loginForm.emailid.$invalid && !loginForm.emailid.$pristine }">
          <label class="sr-only" for="emailid">Email address</label>
          <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email"
                 ng-model="login.credentials.username" required>
          <span ng-show="loginForm.emailid.$invalid && loginForm.emailid.$dirty"
                class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span
            ng-show="(loginForm.emailid.$invalid || loginForm.emailid.$error.required) && !loginForm.emailid.$pristine"
            class="help-block">Enter valid email</span>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error has-feedback' : (login.loginValidate || ((loginForm.password.$error.required || loginForm.password.$error.pattern) && !loginForm.password.$pristine)) }">
          <label class="sr-only" for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password"
                 ng-model="login.credentials.password" placeholder="Password" required ng-pattern="/^[a-zA-Z0-9]{8,}$/">
          <span ng-show="(login.loginValidate || ((loginForm.password.$error.required || loginForm.password.$error.pattern) && !loginForm.password.$pristine))" class="glyphicon glyphicon-remove form-control-feedback"
                aria-hidden="true"></span>
          <span ng-show="(loginForm.password.$error.required || loginForm.password.$error.pattern) && !loginForm.password.$pristine" class="help-block">Invalid password</span>
          <span ng-show="login.loginValidate" class="help-block">Invalid emailid or password</span>
        </div>
      </div>
    </div>
    <div class="row modalRem">
      <div class="col-sm-3">
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" name="approve" ng-model="remember">
            <span>Remember Me</span>
          </label>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-1">
        <a ng-click="login.openRegister()">Do not have an account? SignUp here...</a>
      </div>
    </div>
    <div class="row modalBtns">
      <div class="col-sm-2">
        <div class="form-group">
          <button ng-click="login.sendLogin()" ng-disabled="loginForm.$invalid" class="btn btn-info btn-sm margin-top2"
                  type="submit">Sign In
          </button>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <button type="button" ng-click="login.cancel()" class="btn btn-default btn-sm margin-top2 dismissModal1">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
