<div class="modal-header">
  <button type="button" class="close dismissModal1">&times;</button>
  <h4 class="modal-title">Register </h4>
</div>
<div class="modal-body">
  <form class="" name="registerForm" ng-submit="" autocomplete="off">
    <div class="form-group"
         ng-class="{'has-error has-feedback' : (registerForm.firstname.$error.required || registerForm.firstname.$error.pattern) && !registerForm.firstname.$pristine }">
      <label for="firstname" class="control-label">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name"
             ng-model="register.userinfo.firstname" required ng-pattern="/^[a-zA-Z ]*$/">
      <span
        ng-show="(registerForm.firstname.$error.required || registerForm.firstname.$error.pattern) && !registerForm.firstname.$pristine"
        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span ng-show="registerForm.firstname.$error.required && !registerForm.firstname.$pristine" class="help-block">Your First name is required.</span>
      <span ng-show="registerForm.firstname.$error.pattern && !registerForm.firstname.$pristine" class="help-block">Name must only contain alphabets</span>
    </div>
    <div class="form-group"
         ng-class="{'has-error has-feedback' : (registerForm.lastname.$error.required || registerForm.lastname.$error.pattern) && !registerForm.lastname.$pristine}">
      <label for="lastname" class="control-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name"
             ng-model="register.useinfo.lastname" required ng-pattern="/^[a-zA-Z ]*$/">
      <span
        ng-show="(registerForm.lastname.$error.required || registerForm.lastname.$error.pattern) && !registerForm.lastname.$pristine"
        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span ng-show="registerForm.lastname.$error.required && !registerForm.lastname.$pristine" class="help-block">Your Last name is required.</span>
      <span ng-show="registerForm.lastname.$error.pattern && !registerForm.lastname.$pristine" class="help-block">Name must only contain alphabets</span>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error has-feedback' : registerForm.emailid.$invalid && !registerForm.emailid.$pristine }">
      <label for="emailid" class="control-label">Email address</label>
      <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email"
             ng-model="register.userinfo.username" required>
      <span ng-show="registerForm.emailid.$invalid && registerForm.emailid.$dirty"
            class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span
        ng-show="(registerForm.emailid.$invalid || registerForm.emailid.$error.required) && !registerForm.emailid.$pristine"
        class="help-block">Enter valid email</span>
    </div>
    <div class="form-group" ng-class="">
      <label for="password" class="control-label">Password</label>
      <input class="form-control" type="password" name="password" id="password" ng-model="register.userinfo.password"
             placeholder="Password" required>
      <span ng-show="" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span ng-show="" class="help-block">Invalid password</span>
    </div>
    <div class="row modalBtns">
      <div class="col-sm-2">
        <div class="form-group">
          <button ng-click="register.sendRegister()" ng-disabled="registerForm.$invalid"
                  class="btn btn-info btn-sm margin-top2" type="submit">Register
          </button>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <button type="button" ng-click="register.cancel()" class="btn btn-default btn-sm margin-top2 dismissModal1">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
